{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Sidekick - Start</title>
    {% load staticfiles %}
    <link href="{% static "site.css" %}" rel="stylesheet" />
</head>
<body>
    <header class="row">
        <div class="six">Sidekick</div>
    </header>
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="block {{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
{% endspaceless %}