{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="six">
            <div class="box">
                <div class="box-header block">
                    <h2>Create candidate</h2>
                </div>
                <div class="box-body block">
                    <form method="POST" action="">{% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn" type="submit" value="Create">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}